.input-group > .dropdown > .dropdown-menu,
.input-group > .dropdown-menu {
  width: 100% !important;
  left: 0 !important;
  right: 0 !important;
  top: 100% !important;
  transform: none !important;
  margin-top: 4px;
}